.home {
  transform-style: preserve-3d;
  perspective: 2000px;
}

.editor-background {
  /* background-image: var(--wallpaper-background-image);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  filter: blur(30px);
  transform: scale(1.2); */
  background: linear-gradient(-142deg,
      var(--color-ared) 30%,
      var(--color-dblue) 0,
      var(--color-dblue) 80%,
      var(--color-ablue) 0);

  /* background-repeat: repeat; */
  /* background-image: linear-gradient(-135deg,
        var(--color-primary) 25%,
        #dfc9ff 0%,
        #dfc9ff 50%,
        var(--color-primary) 0,
        var(--color-primary) 75%,
        #dfc9ff 0%);
    background-size: 50px 50px;
    animation: progressMove 4s linear infinite; */
  /* background-color: var(--color-dblue); */
  &::before,
  &::after {
    content: 'SETTING';
    position: absolute;
    top: 40px;
    left: 20%;
    font-size: 100px;
    color: white;
    font-weight: bold;
    transform: rotate(15deg);
    /* text-shadow: 50px 50px #9b56fc; */
  }

  &::before {
    font-size: 120px;
    color: #9b56fc;
    transform: rotate(20deg);
    top: 70px;
  }
}

@keyframes progressMove {
  0% {
    background-position: 0px;
  }

  100% {
    background-position: 100px;
  }
}

.stage {
  transition: all .7s;
  transform: translate3d(0, 0, 0) rotateY(0);

  &.moveanima {
    transform: translate3d(-30%, 0, -550px) rotateX(15deg) rotateY(50deg) rotateZ(-10deg)
  }
}

.card-animate {
  border-radius: 48px;
  box-shadow: -20px 20px 32px 0 rgba(0, 0, 0, .5);
  animation: custom-move 30s ease-in-out 0s alternate infinite none;
  transform: translate3d(0%, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

@keyframes custom-move {

  25% {
    transform: translate3d(10%, 0, 0) rotateX(5deg) rotateY(5deg) rotateZ(0deg);
  }

  75% {
    transform: translate3d(-10%, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: translate3d(10%, 0, 0) rotateX(5deg) rotateY(5deg) rotateZ(0deg);
  }
}